[versions]
kotlin = "2.3.0"
kordex-plugin = "1.9.0"
kordex-i18n = "1.1.1"
git-hooks = "0.0.2"
licenser = "2.2.1"

detekt = "1.23.8"
logging = "7.0.14"

junit5 = "6.0.2"

[libraries]
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8" }
detekt = { module = "io.gitlab.arturbosch.detekt:detekt-formatting", version.ref = "detekt" }
logging = { module = "io.github.oshai:kotlin-logging", version.ref = "logging" }
junit-jupiter-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit5" }
junit-jupiter-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit5" }

[plugins]
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
git-hooks = { id = "com.github.jakemarsden.git-hooks", version.ref = "git-hooks"}
licenser = { id = "dev.yumi.gradle.licenser", version.ref = "licenser" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
kordex-plugin = { id = "dev.kordex.gradle.kordex", version.ref = "kordex-plugin"}
kordex-i18n = { id = "dev.kordex.gradle.i18n", version.ref = "kordex-i18n" }
