name: Build

on:
  push:
    branches:
      - main
      - legacy-klogging
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  check-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5

        with:
          distribution: 'temurin'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build Project
        run: ./gradlew clean checkLegacyAbi -x build

  build:
    needs: check-api
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5

        with:
          distribution: 'temurin'
          java-version: 21

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build Project
        run: ./gradlew build --stacktrace -x test

#  test:
#    needs: build
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Set up JDK 17
#        uses: actions/setup-java@v4
#
#        with:
#          distribution: 'temurin'
#          java-version: 17
#
#      - name: Run tests
#        uses: gradle/actions/setup-gradle@v4
#        env:
#          TEST_TOKEN: ${{ secrets.TEST_TOKEN }}
#        with:
#          arguments: test -x build
#          gradle-home-cache-cleanup: true

  publish:
#    needs: test
    if: ${{ github.event.name != 'pull_request' }}
    needs: build
    runs-on: ubuntu-latest

    env:
      KORDEX_USER: ${{ secrets.NEXUS_USER }}
      KORDEX_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      GPG_SIGNING_PASS: ${{ secrets.GPG_SIGNING_PASS }}
      GITHUB_BRANCH_NAME: ${{ github.ref }}
      GITHUB_TAG_NAME: ${{ github.event.release.tag_name }}
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5

        with:
          distribution: 'temurin'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Publish Project
        run: ./gradlew publish -x test
